/*
    OBJECTS.FILE
    ----


    stacked object layout

    common uses: icon + text feature

    <div class="o-block">
	    <img src="/path/to/image.png" alt="" class="o-block__img" />
	    <div class="o-block__body">
	        <p>Text-like content goes here.</p>
	    </div>
	</div>
==================================================== */


.o-block{
   border: solid 1px #000;
   height: 50vw;
   transition: background 0.2s ease;
   overflow: hidden;
   cursor: pointer;
   @include mappy-bp(md){
      height: 25vw;
   }
   &:hover{
      .o-block__image-product{
         z-index: 1;
      }
      .c-title-artist{
         z-index: 2;
         animation: c-title-animation 1s infinite ease;
      }
   }
}

@keyframes c-title-animation {
    0% {transform: skewX(0deg)}
    25% {transform: skewX(20deg)}
    50% {transform: skewX(-20deg)}
    100% {transform: skewX(0deg)}
}

.o-block__content{
   z-index: 1;
   padding: $g-spacing-unit;
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   @include mappy-bp(sm){
      padding: $g-spacing-unit*2;
   }
}

.o-block__content--overlay{
   display: none;
   opacity: 0;
   z-index: 3;
   position: absolute;
   left: 0;
   top: 0;
   justify-content: flex-start;
   background-color: white;
   transform: scale(0);
   transition: 0.2s ease;
}

.o-block__content--overlay-show{
   transform: scale(1);
   opacity: 1;
}

.o-block__image-product{
   height: 70%;
   width: auto;
   transform: translate(-50%,-50%);
   position: absolute;
   top: 50%;
   left: 50%;
   z-index: 2;
   transition: transform 2s ease;

   &--front{
      z-index: 6 !important;
      transform:translate(20%,0%) rotate(760deg) scale(1.5);
      animation: product-front-animation 1s ease !important;
   }
}

@keyframes product-front-animation {
    0% {transform: translate(-50%,-50%) rotate(0deg) scale(1);}
    100% {transform:translate(20%,0%) rotate(760deg) scale(1.5);}
}

.o-block__image-artist{
   position: absolute;
   bottom: 0;
   left: 0;
   width: 50%;
   height: 50%;
}

/*---------------------------------
------------MODIFIERS--------------
---------------------------------*/

.o-block--logo{
   padding: $g-spacing-unit*4;
   @include mappy-bp(md){
      padding: $g-spacing-unit*8;
   }
}

.o-block--celeste{
   .o-block__content--overlay{
      background-color: getAppColor('celeste-2');
   }
   &:hover{
      background-color: getAppColor('celeste-1');
      .c-title-artist{
         color: getAppColor('celeste-2');
      }
      .o-block__image-product{
         animation: celeste-animation 1s infinite ease;
      }
   }
}

@keyframes celeste-animation {
    0% {transform: translate(-50%,-50%) rotate(0deg) scale(1);}
    25% {transform: translate(-50%,-50%) rotate(-40deg) scale(1.2);}
    50% {transform:translate(-50%,-50%) rotate(40deg) scale(1);}
    100% {transform:translate(-50%,-50%) rotate(00deg) scale(1);}
}
