/*
    OBJECTS.FILE
    ----


    stacked object layout

    common uses: icon + text feature

    <div class="o-block">
	    <img src="/path/to/image.png" alt="" class="o-block__img" />
	    <div class="o-block__body">
	        <p>Text-like content goes here.</p>
	    </div>
	</div>
==================================================== */


.o-block{
   transition: background 0.2s ease;
   overflow: hidden;
   position: relative;
   @include mappy-bp(md){
      height: auto;
   }
   &:hover{
      cursor: pointer;
   }
}

.o-block-top{
   border: solid 1px getAppColor('brand', 'dark');
   background-color: getAppColor('brand', 'purplerain');
   background: url('../assets/images/shelf_top.png');
   background-size: cover;
   background-position: center;
   transform: skewX(45deg) translateX(-12px);
   height: $g-baseline;

   @include mappy-bp(xs){
      height: $g-baseline * 4;
      transform: skewX(45deg) translateX(-48px);
   }

   @include mappy-bp(md){
      height: $g-baseline * 6;
      transform: skewX(45deg) translateX(-72px);
   }
}

.o-block__content{
   position: relative;
   overflow: hidden;
   border: solid 1px getAppColor('brand', 'dark');
   padding: 0 $g-spacing-unit*2;
   width: 98%;
   height: 100%;
   z-index: 1;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   background-color: getAppColor('brand', 'greenlight');
   transition: 0.2s ease;
   @include mappy-bp(sm){
      padding: 0 $g-spacing-unit*3;
   }
}

.o-block__content--overlay{
   display: none;
   opacity: 0;
   z-index: 3;
   position: absolute;
   left: 0;
   top: 0;
   align-items: center;
   justify-content: flex-start;
   flex-direction: row;
   transform: scaleY(0) translateY(-50%);
   transition: 0.2s ease;
   &:hover{
      cursor: auto;
   }
}

.o-block__content--overlay-show{
   display: flex !important;
   transform: scaleY(1) translateY(0);
   opacity: 1;
}

.o-block__content--base{
   .c-title-artist{
      transform: scaleY(1) translateY(0);
      transition: 0.2s ease;
   }
   &:hover{
      background-color: getAppColor(brand, 'greenstrong');
   }
}

.o-block__content--base-hide{
   .c-title-artist{
      transform: scaleY(0) translateY(50%);
   }
}

.o-block__image-product{
   height: 70%;
   width: auto;
   transform: translate(-50%,-45%);
   position: absolute;
   top: 50%;
   left: 50%;
   z-index: 1;
   transition: transform 0.2s ease;

   &--front{
      z-index: 6 !important;
   }
}

.o-block__image-artist{
   z-index: -1;
   position: absolute;
   bottom: 0;
   right: 0;
   width: auto;
   height: 100%;
}

/*---------------------------------
------------MODIFIERS--------------
---------------------------------*/

//--------ANIMATIONS--------//

.o-block--animation-skew-1{
   .o-block__content--base{
      &:hover{
         .c-title-artist{
            animation: block-animation-1 0.9s infinite ease;
         }
      }
   }
}

.o-block--animation-skew-2{
   .o-block__content--base{
      &:hover{
         .c-title-artist{
            animation: block-animation-2 0.6s infinite ease;
         }
      }
   }
}

.o-block--animation-skew-3{
   .o-block__content--base{
      &:hover{
         .c-title-artist{
            animation: block-animation-2 2s infinite ease;
         }
      }
   }
}

.o-block--animation-skew-4{
   .o-block__content--base{
      &:hover{
         .c-title-artist{
            animation: block-animation-1 0.65s infinite ease;
         }
      }
   }
}

.o-block--animation-squach-1{
   .o-block__content--base{
      &:hover{
         .c-title-artist{
            animation: block-animation-3 0.7s infinite ease;
         }
      }
   }
}

.o-block--animation-skew-squach{
   .o-block__content--base{
      &:hover{
         .c-title-artist{
            animation: block-animation-7 0.7s infinite ease;
         }
      }
   }
}

.o-block--animation-squach-2{
   .o-block__content--base{
      &:hover{
         .c-title-artist{
            animation: block-animation-6 1.2s infinite ease;
         }
      }
   }
}

.o-block--animation-squach-3{
   .o-block__content--base{
      &:hover{
         .c-title-artist{
            animation: block-animation-6 0.8s infinite ease;
         }
      }
   }
}

.o-block--animation-shake-1{
   .o-block__content--base{
      &:hover{
         .c-title-artist{
            animation: block-animation-4 0.7s infinite ease;
         }
      }
   }
}

.o-block--animation-shake-2{
   .o-block__content--base{
      &:hover{
         .c-title-artist{
            animation: block-animation-5 1.2s infinite ease;
         }
      }
   }
}

@keyframes block-animation-1 {
    0% {transform: scaleX(1) skewX(0) translateX(0);}
    20% {transform: scaleX(1) skewX(-34deg) translateX(2%);}
    50% {transform: scaleX(1) skewX(-34deg) translateX(2%);}
    100% {transform: scaleX(1) skewX(0) translateX(0);}
}

@keyframes block-animation-2 {
    0% {transform: scaleX(1) skewX(0) translateX(0);}
    25% {transform: scaleX(1) skewX(-24deg) translateX(1%);}
    50% {transform: scaleX(1) skewX(24deg) translateX(-1%);}
    75% {transform: scaleX(1) skewX(-24deg) translateX(1%);}
    100% {transform: scaleX(1) skewX(0) translateX(0);}
}

@keyframes block-animation-3 {
   0% {transform: translateY(0%) scaleY(1);}
   25% {transform: translateY(9%) scaleY(0.7);}
   50% {transform: translateY(0%) scale(1);}
   75% {transform: translateY(9%) scaleY(0.7);}
   100% {transform: translateY(0%) scale(1);}
}

@keyframes block-animation-4 {
    0% {transform: translate(0%,2%) rotate(0deg) scale(1);}
    10% {transform: translate(4%,0%) rotate(-1deg) scale(1.1);}
    20% {transform: translate(4%,0%) rotate(1deg) scale(1.1);}
    30% {transform: translate(0%,4%) rotate(1deg) scale(1);}
    40% {transform: translate(0%,4%) rotate(-1deg) scale(1);}
    50% {transform: translate(4%,0%) rotate(1deg) scale(1.1);}
    60% {transform: translate(4%,0%) rotate(1deg) scale(1.1);}
    70% {transform: translate(0%,4%) rotate(-1deg) scale(1);}
    80% {transform: translate(0%,4%) rotate(1deg) scale(1);}
    90% {transform: translate(0%,0%) rotate(-1deg) scale(1);}
    100% {transform: translate(0%,2%) rotate(0deg) scale(1);}
}

@keyframes block-animation-5 {
    0% {transform: translate(0%,2%) rotate(0deg) scale(1);}
    10% {transform: translate(4%,0%) rotate(0.5deg) scale(1.1);}
    20% {transform: translate(4%,0%) rotate(-0.5deg) scale(1.1);}
    30% {transform: translate(0%,4%) rotate(0.5deg) scale(1);}
    40% {transform: translate(0%,4%) rotate(-0.5deg) scale(1);}
    50% {transform: translate(4%,0%) rotate(0.5deg) scale(1.1);}
    60% {transform: translate(4%,0%) rotate(-0.5deg) scale(1.1);}
    70% {transform: translate(0%,4%) rotate(0.5deg) scale(1);}
    80% {transform: translate(4%,4%) rotate(-0.5deg) scale(1.1);}
    90% {transform: translate(4%,0%) rotate(0.5deg) scale(1.1);}
    100% {transform: translate(0%,2%) rotate(0deg) scale(1);}
}

@keyframes block-animation-6 {
   0% {transform: translateX(0%) scaleX(1);}
   25% {transform: translateX(-10%) scaleX(0.8);}
   50% {transform: translateX(0%) scaleX(1);}
   75% {transform: translateX(-10%) scaleX(0.8);}
   100% {transform: translateX(0%) scaleX(1);}
}

@keyframes block-animation-7 {
   0% {transform: skewX(0) scaleY(1);}
   25% {transform: skewX(-12deg) scaleY(0.8);}
   50% {transform: scaleY(1);}
   75% {transform: skewX(12deg) scaleY(0.8);}
   100% {transform: skewX(0deg) scaleY(1);}
}

//--------DAY DARK--------//


.o-block--day-dark{
   .o-block__content{
      background-color: getAppColor('brand', 'dark');
   }
   .c-title-artist{
      color: white;
      text-shadow: -($g-spacing-unit/4) 0 0px getAppColor('brand', 'greenstrong');
      @include mappy-bp(sm){
         text-shadow: -($g-spacing-unit/2) 0 0px getAppColor('brand', 'greenstrong');
      }
   }
   .c-title-day{
      color: white;
   }
   .c-title-artist--note{
      color: getAppColor('brand', 'greenstrong');
   }
   .o-block__content--base{
      &:hover{
         background-color: getAppColor(brand, 'purplerain');
      }
   }
}


//--------DAY CLEAR BACKGROUND--------//

.o-block--day-bg{
   .o-block__content--base{
      background: url('../assets/images/shelf-background.png') getAppColor('brand', 'greenlight');
      background-position: right;
      background-size: auto 140%;
      background-repeat: no-repeat;
      &:hover{
         background: url('../assets/images/shelf-background.png') getAppColor('brand', 'greenstrong');
         background-position: right;
         background-size: auto 140%;
         background-repeat: no-repeat;
      }
   }
}


//--------SCURU FITCHADU--------//

.o-block--scuru{
   .o-block__content--overlay{
      background-color: getAppColor('scuru-2');
   }
   .o-block__image-product{
      height: 60%;
   }
   .o-block__image-product--front{
      transform: translate(-50%,40%) rotate(10deg) scale(1.2);;
      animation: scuru-front-animation 0.3s ease !important;
   }

   .o-block__image-artist{
      bottom: 0;
      left: auto;
      right: 0;
      width: 70%;
      height: 70%;
   }

   &:hover{
      background-color: getAppColor('scuru-1');
      .c-title-artist{
         color: getAppColor('scuru-2');
         animation: scuru-title-animation 1s infinite ease;
      }
      .o-block__image-product{
         animation: scuru-animation 1s infinite ease;
      }
   }
}

@keyframes scuru-animation {
    0% {transform: translate(-50%,-45%) rotate(0deg) scale(1);}
    10% {transform: translate(-50%,-50%) rotate(-4deg) scale(1.2);}
    20% {transform: translate(-50%,-50%) rotate(4deg) scale(1.2);}
    30% {transform:translate(-50%,-40%) rotate(4deg) scale(1);}
    40% {transform:translate(-50%,-40%) rotate(-4deg) scale(1);}
    50% {transform:translate(-50%,-50%) rotate(4deg) scale(1.2);}
    60% {transform:translate(-50%,-50%) rotate(4deg) scale(1.2);}
    70% {transform:translate(-50%,-40%) rotate(-4deg) scale(1);}
    80% {transform:translate(-50%,-40%) rotate(4deg) scale(1);}
    90% {transform:translate(-50%,-50%) rotate(-4deg) scale(1);}
    100% {transform:translate(-50%,-45%) rotate(0deg) scale(1);}
}

@keyframes scuru-title-animation {
    0% {transform: skewY(0deg)}
    20% {transform: skewY(10deg)}
    40% {transform: skewY(-10deg)}
    60% {transform: skewY(10deg)}
    80% {transform: skewY(-10deg)}
    100% {transform: skewY(0deg)}
}

@keyframes scuru-front-animation {
    0% {transform: translate(-50%,-50%) rotate(0deg) scale(1);}
    100% {transform:translate(-50%,40%) rotate(10deg) scale(1.2);}
}


//--------DJ GREEN--------//


.o-block--dj-green{
   cursor: auto;
   .c-title-artist{
      color: getAppColor(brand, 'greenstrong');
   }
   .o-block__content{
      cursor: auto;
   }
}

@keyframes dj-green-animation {
    0% {transform: scaleY(1);}
    25% {transform: scaleY(1.2);}
    50% {transform: scaleY(1);}
    75% {transform: scaleY(1.2);}
    100% {transform: scaleY(1);}
}


//--------DJ DARK--------//


.o-block--dj-dark{
   cursor: auto;
   .o-block__content{
      background-color: getAppColor('brand', 'dark');
      cursor: auto;
   }
   .c-title-artist{
      color: white;
   }
   .c-title-day{
      color: white;
   }
   .c-title-artist--note{
      color: getAppColor('brand', 'greenstrong');
   }
}

@keyframes dj-dark-animation {
    0% {transform: scaleX(1);}
    25% {transform: scaleX(1.1);}
    50% {transform: scaleX(1);}
    75% {transform: scaleX(1.1);}
    100% {transform: scaleX(1);}
}
