/*
    OBJECTS.FILE
    ----


    stacked object layout

    common uses: icon + text feature

    <div class="o-block">
	    <img src="/path/to/image.png" alt="" class="o-block__img" />
	    <div class="o-block__body">
	        <p>Text-like content goes here.</p>
	    </div>
	</div>
==================================================== */


.o-block{
   border: solid 1px #000;
   height: 50vw;
   padding: $g-spacing-unit*2;
   @include mappy-bp(md){
      height: 25vw;
   }
}

.o-block--logo{
   padding: $g-spacing-unit*4;
   @include mappy-bp(md){
      padding: $g-spacing-unit*8;
   }
}
