.o-floor{
   width: 100%;
   min-height: $g-baseline * 12;
   background: url('../assets/images/floor.png')getAppColor('brand', 'floorblue');
   background-position: center;
   background-size: cover;
   margin-top: -$g-baseline * 6;
   display: flex;
   align-items: flex-start;
   justify-content: flex-start;
   flex-direction: column;
   opacity: 0;
   transition: opacity 0.2s ease;


   @include mappy-bp(md){
      min-height: $g-baseline * 16;
   }

   @include mappy-bp(xxl){
      min-height: $g-baseline * 18;
   }

   &--show{
      opacity: 1;
   }
}

.o-floor__text{
   text-align: left;
   font-family: "Kievitpro-black", Verdana, Geneva, sans-serif;
   font-weight: 700;
   font-style: italic;
   @include font-size(18px,20px);
   margin-top: $g-baseline * 7;
   margin-left:  $g-baseline;
   color: getAppColor(brand, 'greenstrong');
   text-transform: uppercase;
   -webkit-text-stroke: 1px getAppColor('brand', 'dark');

   @include mappy-bp(xs){
      text-align: left;
      margin-left:  $g-baseline * 4;
      @include font-size(20px,24px);
   }

   @include mappy-bp(sm){
      text-align: left;
      margin-left:  $g-baseline * 4;
      margin-top: $g-baseline * 9;
      @include font-size(22px,26px);
   }

   @include mappy-bp(md){
      margin-left:  $g-baseline * 6;
      margin-top: $g-baseline * 9;
      @include font-size(28px,34px);
   }

   @include mappy-bp(xxl){
      margin-top: $g-baseline * 10;
   }
}

.o-floor__credits{
   margin-top: $g-spacing-unit;
   margin-left:  $g-baseline * 4;
   margin-bottom: $g-baseline;
   font-size: 12px;
   text-transform: uppercase;
   display: none;

   @include mappy-bp(sm){
      display: block;
   }

   @include mappy-bp(md){
      margin-left:  $g-baseline * 6;
      margin-top: $g-spacing-unit * 1.5;
   }
   font-style: italic;
   color: white;

   &--link{
      transition: 0.2s ease;
      &:hover,
      &:focus{
         color: getAppColor(brand, 'greenstrong');
      }
   }
}
