.c-title-artist{
   @include font-size(30px,30px);
   text-align: left;
   font-weight: 700;
   color: getAppColor('brand', 'dark');
   -webkit-text-stroke: 1px getAppColor('brand', 'dark');
   text-shadow: -($g-spacing-unit/4) 0 0px white;
   transition: 0.2s ease;
   text-transform: uppercase;
   z-index: 2;

   @include mappy-bp(sm){
      @include font-size(50px,50px);
      text-shadow: -($g-spacing-unit/2) 0 0px white;
   }

   @include mappy-bp(md){
      @include font-size(50px,50px);
   }

   @include mappy-bp(mdl){
      @include font-size(60px,60px);
   }

   @include mappy-bp(xl){
      @include font-size(70px,70px);
   }

   @include mappy-bp(xxl){
      @include font-size(80px,80px);
   }

   &--note{
      font-family: "Kievitpro-medium", Verdana, Geneva, sans-serif;
      text-shadow: none;
      font-weight: 500;
      -webkit-text-stroke: 0;
      color: getAppColor('brand', 'dark');
      text-transform: none;
      font-style: italic;
   }

   &--sm{
      text-shadow: none;
      @include font-size(24px,24px);
      @include mappy-bp(sm){
         @include font-size(34px,34px);
      }

      @include mappy-bp(mdl){
         @include font-size(34px,34px);
      }

      @include mappy-bp(xl){
         @include font-size(44px,44px);
      }

      @include mappy-bp(xxl){
         @include font-size(54px,54px);
      }
   }
}

.c-title-day{
   @include font-size(16px,16px);
   font-style: italic;
   font-family: "Kievitpro-medium", Verdana, Geneva, sans-serif;
   font-weight: 500;
   @include mappy-bp(mdl){
      @include font-size(20px,20px);
   }
   &--bold{
      font-family: "Kievitpro-black", Verdana, Geneva, sans-serif;
      font-weight: 700;
   }
}

.c-title-link{
   @include font-size(14px,16px);
   font-style: italic;
   font-family: "Kievitpro-medium", Verdana, Geneva, sans-serif;
   font-weight: 700;
   margin-right: $g-spacing-unit;
   margin-bottom: $g-spacing-unit;
   transition: 0.2s ease;
   color: white;
   @include mappy-bp(md){
      @include font-size(20px,20px);
      margin-right: $g-spacing-unit * 2;
   }
   @include mappy-bp(lg){
      @include font-size(24px,24px);
   }
   &:hover{
      transform: scale(1.1);
      color: getAppColor(brand, 'greenstrong');
   }

   &--inverse{
      color: getAppColor(brand, 'dark');
      &:hover{
         color: getAppColor(brand, 'purplerain');
      }
   }
}
