/*
    SETTINGS.COLORS
    ----

    App wide colors united on sexy sass map
    Use getAppColor() function to extract color and
    tints and shades

    Notes: you can put single variables here if
    doesn't fit the getAppColor() pattern
* ==================================================== */


$g-colors-maps: (
   brand: (
      greenstrong: #B8FF00,
      greenlight: #CFDD02,
      purplerain: #4801FF,
      floorblue: #004EAA,
      dark: #1D1719
   ),
   primary:(
      light: mix(#50B4F3, white, 80%),
	   base: #50B4F3,
      dark: #4A90E2,
      darker: #3072E0
   ),
   grayscale:(
      heaven: #fafafa,
      lightsmoke: #F1F1F1,
      smoke: #EBEBEB,
      darksmoke: #e1e1e1,
      lightest: #999999,
      lighter: #555555,
      light: #333333,
      base: #161616
   ),
   white: #fff,
   celeste-1: #FF1615,
   celeste-2: #00571E,
   scuru-1: #2980FF,
   scuru-2: #FF1726,
   paypal-1: #FE700C,
   paypal-2: #00B6FF
);


$social-media-colors-map: (
    facebook: #365899,
    github: #333,
    twitter: #00aced,
);
