<div class="o-block-top"></div>

<article class="o-block o-block--day-dark o-block--animation-skew-1">
   <div class="c-shelf-levels"></div>
   <div class="o-block__content o-block__content--base">
      <div class="c-shelf-holder c-shelf-holder--dark"></div>
      <h2 class="c-title-artist">Nu</h2>
   </div>
   <div class="o-block__content o-block__content--overlay">
      <div class="c-shelf-holder c-shelf-holder--dark"></div>
      <a class="c-title-link u-m-b-0" href="https://www.facebook.com/nununuband/" target="_blank">&rarr; Facebook</a>
      <a class="c-title-link u-m-b-0" href="https://nununuband.bandcamp.com/" target="_blank">&rarr; Bandcamp</a>
      <img src="assets/images/nu-bg.png" alt="NU" class="o-block__image-artist">
   </div>
   <div class="c-shelf-levels"></div>
</article>
<article class="o-block o-block--day-dark o-block--animation-shake-1">
   <div class="o-block__content o-block__content--base">
      <div class="c-shelf-holder c-shelf-holder--dark c-shelf-holder--v2"></div>
      <h2 class="c-title-artist">Scúru Fitchádu</h2>
      <div class="c-shelf-holder c-shelf-holder--dark c-shelf-holder--right"></div>
   </div>
   <div class="c-shelf-levels"></div>
   <div class="o-block__content o-block__content--overlay">
      <div class="c-shelf-holder c-shelf-holder--dark c-shelf-holder--v2"></div>
      <a class="c-title-link" href="https://www.facebook.com/scurufitchadu/" target="_blank">&rarr; Facebook</a>
      <a class="c-title-link" href="https://scurufitchadu.bandcamp.com/releases" target="_blank">&rarr; Bandcamp</a>
      <a class="c-title-link" href="https://open.spotify.com/artist/4hErMbMLoZ4GdbFe96jCLa" target="_blank">&rarr; Spotify</a>
      <img src="assets/images/scuru-bg.png" alt="Scúru Fitchádu" class="o-block__image-artist">
      <div class="c-shelf-holder c-shelf-holder--dark c-shelf-holder--right"></div>
   </div>
</article>
<article class="o-block o-block--day-dark o-block--animation-squach-1">
   <div class="o-block__content o-block__content--base">
      <div class="c-shelf-holder c-shelf-holder--dark"></div>
      <h2 class="c-title-artist">DJ PayPal</h2>
      <div class="c-shelf-holder c-shelf-holder--dark c-shelf-holder--right-v2"></div>
   </div>
   <div class="c-shelf-levels"></div>
   <div class="o-block__content o-block__content--overlay">
      <div class="c-shelf-holder c-shelf-holder--dark"></div>
      <a class="c-title-link" href="https://www.facebook.com/djpaypal/" target="_blank">&rarr; Facebook</a>
      <a class="c-title-link" href="https://soundcloud.com/djpaypal" target="_blank">&rarr; Soundcloud</a>
      <a class="c-title-link" href="https://open.spotify.com/artist/4hH4fEXPg3qpTDlmdNOO01" target="_blank">&rarr; Spotify</a>
      <img src="assets/images/paypal-bg.png" alt="DJ Paypal" class="o-block__image-artist">
      <div class="c-shelf-holder c-shelf-holder--dark c-shelf-holder--right-v2"></div>
   </div>
   <div class="c-shelf-label">
      <p class="c-shelf-label__day c-shelf-label__day--dark">4</p>
      <p class="c-shelf-label__weekday">Sexta</p>
   </div>
</article>
<article class="o-block o-block--dj-dark">
   <div class="o-block__content">
      <div class="c-shelf-holder c-shelf-holder--dark"></div>
      <h2 class="c-title-artist c-title-artist--sm">Magia Negra<span class="c-title-artist--note"> DJ Set / </span> Canecus</h2>
      <div class="c-shelf-holder c-shelf-holder--dark c-shelf-holder--right"></div>
   </div>
   <div class="c-shelf-levels"></div>
</article>
<article class="o-block o-block--animation-shake-2">
   <div class="o-block__content o-block__content--base">
      <div class="c-shelf-holder c-shelf-holder--v2"></div>
      <h2 class="c-title-artist">Iguana Garcia</h2>
      <div class="c-shelf-holder c-shelf-holder--right-v2"></div>
   </div>
   <div class="c-shelf-levels"></div>
   <div class="o-block__content o-block__content--overlay">
      <div class="c-shelf-holder c-shelf-holder--v2"></div>
      <a class="c-title-link c-title-link--inverse" href="https://www.facebook.com/iguanagarciapt/" target="_blank">&rarr; Facebook</a>
      <a class="c-title-link c-title-link--inverse" href="https://soundcloud.com/iguanagarcia" target="_blank">&rarr; Soundcloud</a>
      <a class="c-title-link c-title-link--inverse" href="https://open.spotify.com/artist/4vaSVBRYQkwi9cjSuwdn5X" target="_blank">&rarr; Spotify</a>
      <img src="assets/images/iguana-bg.png" alt="Iguana Garcia" class="o-block__image-artist">
      <div class="c-shelf-holder c-shelf-holder--right-v2"></div>
   </div>
</article>
<article class="o-block o-block--animation-squach-2">
   <div class="o-block__content o-block__content--base">
      <div class="c-shelf-holder"></div>
      <h2 class="c-title-artist">Ermo</h2>
      <div class="c-shelf-holder c-shelf-holder--right-v2"></div>
   </div>
   <div class="c-shelf-levels"></div>
   <div class="o-block__content o-block__content--overlay">
      <div class="c-shelf-holder"></div>
      <a class="c-title-link c-title-link--inverse" href="https://www.facebook.com/ermo.brg/" target="_blank">&rarr; Facebook</a>
      <a class="c-title-link c-title-link--inverse" href="https://ermo.bandcamp.com/" target="_blank">&rarr; Bandcamp</a>
      <a class="c-title-link c-title-link--inverse" href="https://open.spotify.com/artist/0YuM5oeDnqvgJ5rvNRBaw6" target="_blank">&rarr; Spotify</a>
      <img src="assets/images/ermo-bg.png" alt="Ermo" class="o-block__image-artist">
      <div class="c-shelf-holder c-shelf-holder--right-v2"></div>
   </div>
   <div class="c-shelf-label">
      <p class="c-shelf-label__day">5</p>
      <p class="c-shelf-label__weekday">Sábado</p>
   </div>
</article>
<article class="o-block o-block--day-bg o-block--animation-skew-3">
   <div class="o-block__content o-block__content--base">
      <div class="c-shelf-holder c-shelf-holder--v2"></div>
      <h2 class="c-title-artist">Oshun</h2>
      <div class="c-shelf-holder c-shelf-holder--right-v2"></div>
   </div>
   <div class="c-shelf-levels"></div>
   <div class="o-block__content o-block__content--overlay">
      <div class="c-shelf-holder c-shelf-holder--v2"></div>
      <a class="c-title-link c-title-link--inverse" href="https://www.facebook.com/OSHUNIVERSE/" target="_blank">&rarr; Facebook</a>
      <a class="c-title-link c-title-link--inverse" href="https://soundcloud.com/oshuniverse" target="_blank">&rarr; Soundcloud</a>
      <a class="c-title-link c-title-link--inverse" href="https://open.spotify.com/artist/3sGyf3EDcvQ4PB9AGIg84M" target="_blank">&rarr; Spotify</a>
      <img src="assets/images/oshun-bg.png" alt="Oshun" class="o-block__image-artist">
      <div class="c-shelf-holder c-shelf-holder--right-v2"></div>
   </div>
</article>
<article class="o-block o-block--dj-green">
   <div class="o-block__content">
      <div class="c-shelf-holder c-shelf-holder--v2"></div>
      <h2 class="c-title-artist c-title-artist--sm">Santos da Casa <span class="c-title-artist--note">DJ Set /</span> Catarina Ribeiro</h2>
      <div class="c-shelf-holder c-shelf-holder--right"></div>
   </div>
   <div class="c-shelf-levels"></div>
</article>
<article class="o-block o-block--day-dark o-block--animation-skew-2">
   <div class="o-block__content o-block__content--base">
      <div class="c-shelf-holder c-shelf-holder--dark c-shelf-holder--v2"></div>
      <h2 class="c-title-artist">CelesteMariposa</h2>
      <div class="c-shelf-holder c-shelf-holder--dark c-shelf-holder--right"></div>
   </div>
   <div class="c-shelf-levels"></div>
   <div class="o-block__content o-block__content--overlay">
      <div class="c-shelf-holder c-shelf-holder--dark c-shelf-holder--v2"></div>
      <a class="c-title-link" href="https://www.facebook.com/CelesteMariposaDiscos/" target="_blank">&rarr; Facebook</a>
      <a class="c-title-link" href="https://www.mixcloud.com/CelesteMariposa/" target="_blank">&rarr; Mixcloud</a>
      <div class="c-shelf-holder c-shelf-holder--dark c-shelf-holder--right"></div>
      <img src="assets/images/celeste-bg.png" alt="CelesteMariposa" class="o-block__image-artist">
   </div>
</article>
<article class="o-block o-block--day-dark o-block--animation-skew-squach">
   <div class="o-block__content o-block__content--base">
      <div class="c-shelf-holder c-shelf-holder--dark"></div>
      <h2 class="c-title-artist">Nídia</h2>
      <div class="c-shelf-holder c-shelf-holder--dark c-shelf-holder--right-v2"></div>
   </div>
   <div class="c-shelf-levels"></div>
   <div class="o-block__content o-block__content--overlay">
      <div class="c-shelf-holder c-shelf-holder--dark"></div>
      <a class="c-title-link" href="https://www.facebook.com/nidiasukulbembe/" target="_blank">&rarr; Facebook</a>
      <a class="c-title-link" href="https://open.spotify.com/album/0BfRFd8kaRWFjB7pKufKGY" target="_blank">&rarr; Spotify</a>
      <img src="assets/images/nidia-bg.png" alt="Nídia" class="o-block__image-artist">
      <div class="c-shelf-holder c-shelf-holder--dark c-shelf-holder--right-v2"></div>
   </div>
   <div class="c-shelf-label">
      <p class="c-shelf-label__day c-shelf-label__day--baseline c-shelf-label__day--dark">6</p>
      <p class="c-shelf-label__weekday">Domingo</p>
   </div>
</article>
<article class="o-block o-block--day-dark o-block--animation-squach-1">
   <div class="o-block__content o-block__content--base">
      <div class="c-shelf-holder c-shelf-holder--dark c-shelf-holder--v2"></div>
      <h2 class="c-title-artist">Iglooghost</h2>
      <div class="c-shelf-holder c-shelf-holder--dark c-shelf-holder--right-v2"></div>
   </div>
   <div class="c-shelf-levels"></div>
   <div class="o-block__content o-block__content--overlay">
      <div class="c-shelf-holder c-shelf-holder--dark c-shelf-holder--v2"></div>
      <a class="c-title-link" href="https://www.facebook.com/iglooghost/" target="_blank">&rarr; Facebook</a>
      <a class="c-title-link" href="https://soundcloud.com/iglooghost" target="_blank">&rarr; Soundcloud</a>
      <a class="c-title-link" href="https://open.spotify.com/artist/7LCDnUQYE07fnKbo46SVLB" target="_blank">&rarr; Spotify</a>
      <img src="assets/images/iglooghost-bg.png" alt="Iglooghost" class="o-block__image-artist">
      <div class="c-shelf-holder c-shelf-holder--dark c-shelf-holder--right-v2"></div>
   </div>
</article>
<article class="o-block o-block--dj-dark">
   <div class="o-block__content">
      <div class="c-shelf-holder c-shelf-holder--dark c-shelf-holder--v2"></div>
      <h2 class="c-title-artist c-title-artist--sm">João André Oliveira <span class="c-title-artist--note">b2b </span> Fábio Lopes</h2>
   </div>
   <div class="c-shelf-levels"></div>
</article>
<article class="o-block o-block--animation-squach-3">
   <div class="o-block__content o-block__content--base">
      <div class="c-shelf-holder c-shelf-holder"></div>
      <h2 class="c-title-artist">Solution</h2>
      <div class="c-shelf-holder c-shelf-holder--right-v2"></div>
   </div>
   <div class="c-shelf-levels"></div>
   <div class="o-block__content o-block__content--overlay">
      <div class="c-shelf-holder c-shelf-holder--v2"></div>
      <a class="c-title-link c-title-link--inverse" href="https://www.facebook.com/solutionized/" target="_blank">&rarr; Facebook</a>
      <a class="c-title-link c-title-link--inverse" href="https://soundcloud.com/solutionized" target="_blank">&rarr; Soundcloud</a>
      <img src="assets/images/solution-bg.png" alt="Solution" class="o-block__image-artist">
      <div class="c-shelf-holder c-shelf-holder--right"></div>
   </div>
   <div class="c-shelf-label">
      <p class="c-shelf-label__day">7</p>
      <p class="c-shelf-label__weekday">Segunda</p>
   </div>
</article>
<article class="o-block o-block--day-bg o-block--animation-skew-4">
   <div class="o-block__content o-block__content--base">
      <div class="c-shelf-holder c-shelf-holder--v2"></div>
      <h2 class="c-title-artist">Zanias</h2>
      <div class="c-shelf-holder c-shelf-holder--right"></div>
   </div>
   <div class="c-shelf-levels"></div>
   <div class="o-block__content o-block__content--overlay">
      <div class="c-shelf-holder c-shelf-holder--v2"></div>
      <a class="c-title-link c-title-link--inverse" href="https://www.facebook.com/zoe.zanias/" target="_blank">&rarr; Facebook</a>
      <a class="c-title-link c-title-link--inverse" href="https://soundcloud.com/zanias" target="_blank">&rarr; Soundcloud</a>
      <a class="c-title-link c-title-link--inverse" href="https://open.spotify.com/artist/6ouPbOWchZ9U2ojCpMF9Vv" target="_blank">&rarr; Spotify</a>
      <img src="assets/images/zanias-bg.png" alt="Zanias" class="o-block__image-artist">
      <div class="c-shelf-holder c-shelf-holder--right"></div>
   </div>
</article>
<article class="o-block o-block--animation-squach-1">
   <div class="o-block__content o-block__content--base">
      <div class="c-shelf-holder c-shelf-holder--v2"></div>
      <h2 class="c-title-artist">Powell</h2>
      <div class="c-shelf-holder c-shelf-holder--right-v2"></div>
   </div>
   <div class="c-shelf-levels"></div>
   <div class="o-block__content o-block__content--overlay">
      <div class="c-shelf-holder c-shelf-holder--v2"></div>
      <a class="c-title-link c-title-link--inverse" href="https://twitter.com/odbpowell" target="_blank">&rarr; Twitter</a>
      <a class="c-title-link c-title-link--inverse" href="https://www.youtube.com/channel/UC2jAM8zQbn9Yv1ePLQYtKEQ" target="_blank">&rarr; Youtube</a>
      <div class="c-shelf-holder c-shelf-holder--right-v2"></div>
   </div>
</article>
<article class="o-block o-block--dj-green">
   <div class="o-block__content">
      <div class="c-shelf-holder c-shelf-holder"></div>
      <h2 class="c-title-artist c-title-artist--sm">Alan Vegan</h2>
      <div class="c-shelf-holder c-shelf-holder--right-v2"></div>
   </div>
   <div class="c-shelf-levels"></div>
</article>
<div class="c-shelf-feet"></div>
<div class="c-shelf-feet c-shelf-feet--right"></div>
