<div class="o-block-top"></div>

<article class="o-block o-block--day-dark o-block--animation-1">
   <div class="c-shelf-levels"></div>
   <div class="o-block__content o-block__content--base">
      <div class="c-shelf-holder c-shelf-holder--dark"></div>
      <h2 class="c-title-artist">Nu</h2>
   </div>
   <div class="o-block__content o-block__content--overlay">
      <div class="c-shelf-holder c-shelf-holder--dark"></div>
      <a class="c-title-link u-m-b-0" href="https://www.facebook.com/nununuband/" target="_blank">&rarr; Facebook</a>
      <a class="c-title-link u-m-b-0" href="https://nununuband.bandcamp.com/" target="_blank">&rarr; Bandcamp</a>
      <img src="assets/images/nu-bg.png" alt="NU" class="o-block__image-artist">
   </div>
   <div class="c-shelf-levels"></div>
</article>
<article class="o-block o-block--day-dark">
   <div class="o-block__content o-block__content--base">
      <div class="c-shelf-holder c-shelf-holder--dark c-shelf-holder--v2"></div>
      <h2 class="c-title-artist">Scúru Fitchádu</h2>
      <div class="c-shelf-holder c-shelf-holder--dark c-shelf-holder--right"></div>
   </div>
   <div class="c-shelf-levels"></div>
   <div class="o-block__content o-block__content--overlay">
      <div class="c-shelf-holder c-shelf-holder--dark c-shelf-holder--v2"></div>
      <a class="c-title-link" href="https://www.facebook.com/scurufitchadu/" target="_blank">&rarr; Facebook</a>
      <a class="c-title-link" href="https://scurufitchadu.bandcamp.com/releases" target="_blank">&rarr; Bandcamp</a>
      <a class="c-title-link" href="https://open.spotify.com/artist/4hErMbMLoZ4GdbFe96jCLa?si=-hGhcF8pSFCOeMDPp1U7UA" target="_blank">&rarr; Spotify</a>
      <img src="assets/images/scuru-bg.png" alt="Scúru Fitchádu" class="o-block__image-artist">
      <div class="c-shelf-holder c-shelf-holder--dark c-shelf-holder--right"></div>
   </div>
</article>
<article class="o-block o-block--day-dark">
   <div class="o-block__content o-block__content--base">
      <div class="c-shelf-holder c-shelf-holder--dark"></div>
      <h2 class="c-title-artist">DJ PayPal</h2>
      <div class="c-shelf-holder c-shelf-holder--dark c-shelf-holder--right-v2"></div>
   </div>
   <div class="c-shelf-levels"></div>
   <div class="o-block__content o-block__content--overlay">
      <a class="c-title-link" href="https://www.facebook.com/djpaypal/" target="_blank">&rarr; Facebook</a>
      <a class="c-title-link" href="https://soundcloud.com/djpaypal" target="_blank">&rarr; Soundcloud</a>
      <a class="c-title-link" href="https://open.spotify.com/artist/4hH4fEXPg3qpTDlmdNOO01?si=ge9rmmYHR-OH2Bt7UQ-Cww" target="_blank">&rarr; Spotify</a>
      <img src="assets/images/paypal-artist.jpg" alt="DJ Paypal" class="o-block__image-artist">
   </div>
   <div class="c-shelf-label">
      <p class="c-shelf-label__day c-shelf-label__day--dark">4</p>
      <p class="c-shelf-label__weekday">Sexta</p>
   </div>
</article>
<article class="o-block o-block--dj-dark">
   <div class="o-block__content">
      <div class="c-shelf-holder c-shelf-holder--dark"></div>
      <h2 class="c-title-artist c-title-artist--sm">Magia Negra<span class="c-title-artist--note"> DJ Set / </span> Canecus</h2>
      <div class="c-shelf-holder c-shelf-holder--dark c-shelf-holder--right"></div>
   </div>
   <div class="c-shelf-levels"></div>
</article>
<article class="o-block">
   <div class="o-block__content o-block__content--base">
      <div class="c-shelf-holder c-shelf-holder--v2"></div>
      <h2 class="c-title-artist">Iguana Garcia</h2>
      <div class="c-shelf-holder c-shelf-holder--right-v2"></div>
   </div>
   <div class="c-shelf-levels"></div>
</article>
<article class="o-block">
   <div class="o-block__content o-block__content--base">
      <div class="c-shelf-holder"></div>
      <h2 class="c-title-artist">Ermo</h2>
      <div class="c-shelf-holder c-shelf-holder--right-v2"></div>
      <div></div>
   </div>
   <div class="c-shelf-levels"></div>
   <div class="c-shelf-label">
      <p class="c-shelf-label__day">5</p>
      <p class="c-shelf-label__weekday">Sábado</p>
   </div>
</article>
<article class="o-block o-block--day-bg">
   <div class="o-block__content o-block__content--base">
      <div class="c-shelf-holder c-shelf-holder--v2"></div>
      <h2 class="c-title-artist">Oshun</h2>
      <div class="c-shelf-holder c-shelf-holder--right-v2"></div>
      <div></div>
   </div>
   <div class="c-shelf-levels"></div>
</article>
<article class="o-block o-block--dj-green">
   <div class="o-block__content o-block__content--base">
      <div class="c-shelf-holder c-shelf-holder--v2"></div>
      <h2 class="c-title-artist c-title-artist--sm">Santos da Casa <span class="c-title-artist--note">DJ Set /</span> Catarina Ribeiro</h2>
      <div class="c-shelf-holder c-shelf-holder--right"></div>
   </div>
   <div class="c-shelf-levels"></div>
</article>
<article class="o-block o-block--day-dark">
   <div class="o-block__content o-block__content--base">
      <div class="c-shelf-holder c-shelf-holder--dark c-shelf-holder--v2"></div>
      <h2 class="c-title-artist">CelesteMariposa</h2>
      <div class="c-shelf-holder c-shelf-holder--dark c-shelf-holder--right"></div>
   </div>
   <div class="c-shelf-levels"></div>
   <div class="o-block__content o-block__content--overlay">
      <a class="c-title-link" href="https://www.facebook.com/CelesteMariposaDiscos/" target="_blank">&rarr; Facebook</a>
      <a class="c-title-link" href="https://www.mixcloud.com/CelesteMariposa/" target="_blank">&rarr; Mixcloud</a>
      <img src="assets/images/celeste_mariposa-artist.jpg" alt="CelesteMariposa" class="o-block__image-artist">
   </div>
</article>
<article class="o-block o-block--day-dark">
   <div class="o-block__content o-block__content--base">
      <div class="c-shelf-holder c-shelf-holder--dark"></div>
      <h2 class="c-title-artist">Nídia</h2>
      <div class="c-shelf-holder c-shelf-holder--dark c-shelf-holder--right-v2"></div>
   </div>
   <div class="c-shelf-levels"></div>
   <div class="c-shelf-label">
      <p class="c-shelf-label__day c-shelf-label__day--baseline c-shelf-label__day--dark">6</p>
      <p class="c-shelf-label__weekday">Domingo</p>
   </div>
</article>
<article class="o-block o-block--day-dark">
   <div class="o-block__content o-block__content--base">
      <div class="c-shelf-holder c-shelf-holder--dark c-shelf-holder--v2"></div>
      <h2 class="c-title-artist">Iglooghost</h2>
      <div class="c-shelf-holder c-shelf-holder--dark c-shelf-holder--right-v2"></div>
   </div>
   <div class="c-shelf-levels"></div>
</article>
<article class="o-block o-block--dj-dark">
   <div class="o-block__content o-block__content--base">
      <div class="c-shelf-holder c-shelf-holder--dark c-shelf-holder--v2"></div>
      <h2 class="c-title-artist c-title-artist--sm">João André Oliveira <span class="c-title-artist--note">b2b </span> Fábio Lopes</h2>
   </div>
   <div class="c-shelf-levels"></div>
</article>
<article class="o-block">
   <div class="o-block__content o-block__content--base">
      <div class="c-shelf-holder c-shelf-holder"></div>
      <h2 class="c-title-artist">Cindy Looper</h2>
      <div class="c-shelf-holder c-shelf-holder--right-v2"></div>
   </div>
   <div class="c-shelf-levels"></div>
   <div class="c-shelf-label">
      <p class="c-shelf-label__day">7</p>
      <p class="c-shelf-label__weekday">Segunda</p>
   </div>
</article>
<article class="o-block o-block--day-bg">
   <div class="o-block__content o-block__content--base">
      <div class="c-shelf-holder c-shelf-holder--v2"></div>
      <h2 class="c-title-artist">Zanias</h2>
      <div class="c-shelf-holder c-shelf-holder--right"></div>
   </div>
   <div class="c-shelf-levels"></div>
</article>
<article class="o-block">
   <div class="o-block__content o-block__content--base">
      <div class="c-shelf-holder c-shelf-holder--v2"></div>
      <h2 class="c-title-artist">Powell</h2>
      <div class="c-shelf-holder c-shelf-holder--right-v2"></div>
   </div>
   <div class="c-shelf-levels"></div>
</article>
<article class="o-block o-block--dj-green">
   <div class="o-block__content o-block__content--base">
      <div class="c-shelf-holder c-shelf-holder"></div>
      <h2 class="c-title-artist c-title-artist--sm">Alan Vegan</h2>
      <div class="c-shelf-holder c-shelf-holder--right-v2"></div>
   </div>
   <div class="c-shelf-levels"></div>
</article>
<div class="c-shelf-feet"></div>
<div class="c-shelf-feet c-shelf-feet--right"></div>
