<article class="o-grid__el u-size-6/12 u-size-3/12@md o-block o-block--logo">
   <img src="assets/images/palco-ruc-logo.svg" alt="Palco RUC">
</article>
<article class="o-grid__el u-size-6/12 u-size-3/12@md o-block">
   <h1>NU</h1>
</article>
<article class="o-grid__el u-size-6/12 u-size-3/12@md o-block o-block--scuru">
   <div class="o-block__content o-block__content--base">
      <h3 class="c-title-day"><span class="c-title-day--bold">Dia 4</span> — Sexta-feira</h3>
      <h2 class="c-title-artist">Scúru<br>Fitchádu</h2>
      <div></div>
   </div>
   <div class="o-block__content o-block__content--overlay">
      <a class="c-title-link" href="https://www.facebook.com/scurufitchadu/" target="_blank">&rarr; Facebook</a>
      <a class="c-title-link" href="https://scurufitchadu.bandcamp.com/releases" target="_blank">&rarr; Bandcamp</a>
      <a class="c-title-link" href="https://open.spotify.com/artist/4hErMbMLoZ4GdbFe96jCLa?si=-hGhcF8pSFCOeMDPp1U7UA" target="_blank">&rarr; Spotify</a>
      <img src="assets/images/scuru-artist.jpg" alt="Scúru Fitchádu" class="o-block__image-artist">
   </div>
   <img src="assets/images/scuru.png" alt="Scúru Fitchádu" class="o-block__image-product">
</article>
<article class="o-grid__el u-size-6/12 u-size-3/12@md o-block o-block--paypal">
   <div class="o-block__content o-block__content--base">
      <h3 class="c-title-day"><span class="c-title-day--bold">Dia 4</span> — Sexta-feira</h3>
      <h2 class="c-title-artist">DJ PayPal</h2>
      <div></div>
   </div>
   <div class="o-block__content o-block__content--overlay">
      <a class="c-title-link" href="https://www.facebook.com/scurufitchadu/" target="_blank">&rarr; Facebook</a>
      <a class="c-title-link" href="https://scurufitchadu.bandcamp.com/releases" target="_blank">&rarr; Bandcamp</a>
      <a class="c-title-link" href="https://open.spotify.com/artist/4hErMbMLoZ4GdbFe96jCLa?si=-hGhcF8pSFCOeMDPp1U7UA" target="_blank">&rarr; Spotify</a>
      <img src="assets/images/paypal-artist.jpg" alt="DJ Paypal" class="o-block__image-artist">
   </div>
   <img src="assets/images/paypal.png" alt="DJ Paypal" class="o-block__image-product">
</article>
<article class="o-grid__el u-size-6/12 u-size-3/12@md o-block o-block--dj-dark">
   <div class="o-block__content o-block__content--base">
      <h3 class="c-title-day"><span class="c-title-day--bold">Dia 4</span> — Sexta-feira</h3>
      <h2 class="c-title-artist c-title-artist--sm">Magia<br> Negra<span class="c-title-artist--note"> DJ Set</span></h2>
      <h2 class="c-title-artist c-title-artist--sm">Canecus</h2>
      <div></div>
   </div>
</article>
<article class="o-grid__el u-size-6/12 u-size-3/12@md o-block">
   <p>MAIO 4,5,6,7</p>
</article>
<article class="o-grid__el u-size-6/12 u-size-3/12@md o-block">
   <h1>IGUANA GARCIA</h1>
</article>
<article class="o-grid__el u-size-6/12 u-size-3/12@md o-block">
   <h1>ERMO</h1>
</article>
<article class="o-grid__el u-size-6/12 u-size-3/12@md o-block">
   <h1>OSHUN</h1>
</article>
<article class="o-grid__el u-size-6/12 u-size-3/12@md o-block o-block--dj-green">
   <div class="o-block__content o-block__content--base">
      <h3 class="c-title-day"><span class="c-title-day--bold">Dia 5</span> — Sábado</h3>
      <h2 class="c-title-artist c-title-artist--sm">Santos da<br> Casa <span class="c-title-artist--note">DJ Set</span></h2>
      <h2 class="c-title-artist c-title-artist--sm">Catarina<br> Ribeiro</h2>
      <div></div>
   </div>
</article>
<article class="o-grid__el u-size-6/12 u-size-3/12@md o-block">
   <p>QUEIMA DAS FITAS COIMBRA</p>
</article>
<article class="o-grid__el u-size-6/12 u-size-3/12@md o-block o-block--celeste">
   <div class="o-block__content o-block__content--base">
      <h3 class="c-title-day"><span class="c-title-day--bold">Dia 6</span> — Domingo</h3>
      <h2 class="c-title-artist">Celeste<br>Mariposa</h2>
      <div></div>
   </div>
   <div class="o-block__content o-block__content--overlay">
      <a class="c-title-link" href="https://www.facebook.com/CelesteMariposaDiscos/" target="_blank">&rarr; Facebook</a>
      <a class="c-title-link" href="https://www.mixcloud.com/CelesteMariposa/" target="_blank">&rarr; Mixcloud</a>
      <img src="assets/images/celeste_mariposa-artist.jpg" alt="CelesteMariposa" class="o-block__image-artist">
   </div>
   <img src="assets/images/celeste_mariposa.png" alt="CelesteMariposa" class="o-block__image-product">
</article>
<article class="o-grid__el u-size-6/12 u-size-3/12@md o-block">
   <h1>NÍDIA</h1>
</article>
<article class="o-grid__el u-size-6/12 u-size-3/12@md o-block">
   <h1>IGLOOGHOST</h1>
</article>
<article class="o-grid__el u-size-6/12 u-size-3/12@md o-block o-block--dj-dark">
   <div class="o-block__content o-block__content--base">
      <h3 class="c-title-day"><span class="c-title-day--bold">Dia 6</span> — Domingo</h3>
      <h2 class="c-title-artist c-title-artist--sm">João André <br>Oliveira<br><span class="c-title-artist--note">b2b</span><br>Fábio Lopes</h2>
      <div></div>
   </div>
</article>
<article class="o-grid__el u-size-6/12 u-size-3/12@md o-block">
   <h1>CINDY LOOPER</h1>
</article>
<article class="o-grid__el u-size-6/12 u-size-3/12@md o-block">
   <h1>ZANIAS</h1>
</article>
<article class="o-grid__el u-size-6/12 u-size-3/12@md o-block">
   <h1>POWELL</h1>
</article>
<article class="o-grid__el u-size-6/12 u-size-3/12@md o-block o-block--dj-green">
   <div class="o-block__content o-block__content--base">
      <h3 class="c-title-day"><span class="c-title-day--bold">Dia 7</span> — Segunda-feira</h3>
      <h2 class="c-title-artist c-title-artist--sm">Alan<br> Vegan</h2>
      <div></div>
   </div>
</article>
<article class="o-grid__el u-size-6/12 u-size-3/12@md o-block">
   <p>Design - Rubro del Rubro / Code — João Marques</p>
</article>
