/*
    BASE.FONTS
    ----

* ==================================================== */

/* Use mixin to include desired font, one mixin per weight/style pair */
//@include font-face($font-family: 'FontNAME', $file-path: 'fontPath', $font-weight: '500', $font-style: 'normal', $RoR: false);

@font-face {
    font-family: Kievitpro-medium;
    src: url("../assets/fonts/kiev/KIEVITPRO-MEDIUM.OTF");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Kievitpro-medium;
    src: url("../assets/fonts/kiev/KIEVITPRO-MEDIUMITALIC.OTF");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: Kievitpro-black;
    src: url("../assets/fonts/kiev/KIEVITPRO-BLACK.OTF");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Kievitpro-black;
    src: url("../assets/fonts/kiev/KIEVITPRO-BLACKITALIC.OTF");
    font-weight: 700;
    font-style: italic;
}

body{
	font: normal 1rem/1.5 "Kievitpro", Helvetica, sans-serif;
	letter-spacing: -0.01px;
	color: getAppColor('grayscale', 'base');
	 -moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: antialiased;
    font-weight: 400;
    font-weight: normal;

}

h1, h2, h3, h4, h5, h6 {
	font-family: "Kievitpro-black", Helvetica, -apple-system, Roboto, sans-serif;
   font-weight: 700;
}
