<!DOCTYPE html>
<html class="no-js">
<head>
   {{> _head}}
</head>
<body data-context="{{page}}">
   <div class="o-skeleton" id="app">
      <main class="o-container" role="main">
         {{> body}}
      </main>
      <div class="c-logo c-logo--loading">
         {{> _logo}}
      </div>
      <div class="o-floor">
         <p class="o-floor__text">Maio 4.5.6.7<br>Queima&nbsp;<br class="u-hidden-@xs">das Fitas&nbsp;<br class="u-hidden-@xs">de Coimbra</p>
         <a class="c-title-link c-title-link--floor" href="https://www.facebook.com/palcoruc/" target="_blank">&rarr; Facebook</a>
         <p class="o-floor__credits">Visuals — Vyu&nbsp;&nbsp;/&nbsp;&nbsp;Design — <a href="http://rubro-del-rubro.tumblr.com/" target="_blank" class="o-floor__credits--link">Rubro del Rubro</a>&nbsp;&nbsp;/&nbsp;&nbsp;Website — <a href="http://joaomarques.website/" target="_blank" class="o-floor__credits--link">João Marques</a></p>
      </div>
   </div>
   <!--scripts-->
   <script src="{{root}}scripts/app.js"></script>
</body>
</html>
