<!DOCTYPE html>
<html class="no-js">
<head>
   {{> _head}}
</head>
<body data-context="{{page}}">
   <div class="o-skeleton" id="app">
      <main class="o-container" role="main">
         {{> body}}
      </main>
      <div class="c-logo">
         {{> _logo}}
      </div>
      <div class="o-floor">
         <p class="o-floor__text">Maio 4.5.6.7<br>Queima&nbsp;<br class="u-hidden-@xs">das Fitas&nbsp;<br class="u-hidden-@xs">de Coimbra</p>
      </div>
   </div>
   <!--scripts-->
   <script src="{{root}}scripts/app.js"></script>
   {{> _google_analytics}}
</body>
</html>
